{% extends "base.html" %} {% block title %}Home{% endblock %}

<h1>dfshdfbsd</h1>
{% block content %}

       <a href="/statistics"> <img src="../static/image1.jpg" alt="" style="float: left; margin-right: 10px; margin-top: 150px; width: 30%; height: 30%; border-radius: 50%;"></a>

    <div id="prawa">
        <h1>Find your similiar mate</h1>
        <p> "Similarity" is a website that allows you to compare the appearances of different people. </p>
        <p>Users can upload their appearance data and chat with other similiar people</p>
    </div>


    <div id="stopka">
        <hr>

    </div>
    <div style="display:flex;">
        <a href="statistics"><img src="../static/tile_statistics.png" alt="Statistics" style="width:100%;  float:left;   margin-right:10px;"></a>
        <a href="chat"      ><img src="../static/tile_chat.png"       alt="Chat"       style="width:100%;  float:right;  margin-left:10px;"  ></a>
    </div>

     <div style="display:flex;">
        <a href="search"><img src="../static/tile_search.png" alt="Search" style="width:100%;  float:left;   margin-right:10px;"></a>
        <a href="you"><img src="../static/tile_profile.png" alt="Profile" style="width:100%;  float:left;   margin-right:10px;"></a>
    </div>



{% endblock %}