body {
    background-image: url("../static/background.png");
}
#lewa {
    float: left;
    height: 80%;
    width: 40%;

}

#prawa {
    text-align: center;
    float: left;
    height: 80%;
    width: 60%;
}



#stopka{
    clear: both;
    text-align: center;
    height: 20%;
}